* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    -webkit-animation: color-change-2x 8s linear infinite alternate both;
	animation: color-change-2x 8s linear infinite alternate both;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: transparent;
}
/*______________________Heade______________________*/
.header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    position: fixed;
}

.header__titulo {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    color: #fff;
    font-size: 40px;
    letter-spacing: 3px;
    user-select: none;

    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

.navegation__ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegation__li {
    display: inline-block;
    border-radius: 8px;
    transition: all .3s linear;
    margin: 0 10px;
    user-select: none;
}
    .navegation__li:hover {
        background-color: #fff;
    }

.navegation__a {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    color: #fff;
    font-size: 20px;
    transition: all .3s linear;
    display: inline-block;
    user-select: none;

    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

    .navegation__a:hover {
        color: #000;
    }

/*______________________Main______________________*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-top: 50px;
    min-height: 350px;
}

.main__containers {
    /* background-color: tomato; */
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    -webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.titulo__container {
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
}
.titulo {
    display: inline-block;
    margin-top: 50px;
    font-size: 40px;
    
    -webkit-animation: heartbeat 1.5s ease-in-out 2s infinite both;
	        animation: heartbeat 1.5s ease-in-out 2s infinite both;
}

.subtitulo {
    font-size: 25px;
}

.subtitulo2 {
    font-size: 25px;
    text-align: center;
}
.parrafo__container {
    width: 60%;
}
.parrafo {
    text-align: justify;
}

.parrafo-pequeño {
    font-size: 13px;
}

.caracteristicas__container {
    padding: 10px;
    width: 60%;
}

.caracteristicas {
    color: whitesmoke;
    text-align: justify;
}

.caracteristicas-color {
    color: rgb(173, 167, 167);
}

.img__container {
    width: 415px;
    height: 305px;
}
.img {
    width: 415px;
    height: 300px;
    border-radius: 10px;
}

/*______________________Footer______________________*/
.footer {
    padding: 5px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.info {
    padding: 5px;
}
.info__a{
    text-decoration: none;
}
.charm {
  position: absolute;
  right: 10%;
  top: 340%;
  -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
        animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}
.mensaje {
    -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nombre {
    -webkit-animation: blink-1 3s ease-in infinite both;
    animation: blink-1 3s ease-in infinite both;
}
/*______________________Animaciones______________________*/

@-webkit-keyframes color-change-2x {
    
    0% {
        background: #e93e3e;
    }

    100% {
        background: #a913ff;
    }
}
@keyframes color-change-2x {
    0% {
        background: #e93e3e;
    }
    100% {
        background: #b22cff;
    }
}  


@-webkit-keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }

  @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @-webkit-keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }